@import 'styles/colors';
@import 'styles/variables';
@import 'styles/breakpoints';

.tooth_chart{
  width: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button_combos {
  display: flex;
}

#Spots{
  polygon, path{
    -webkit-transition:fill .25s;
    transition:fill .25s;
    cursor: pointer;
  }
  polygon:hover, polygon:active, path:hover, path:active{
    fill: #dddddd;
  }
}

.topRow {
  display: flex;

  .flexCol {
    align-items: center;
  }
}

.flexRow {
  display: flex;
  flex-grow: 1;
}

.flexCol {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  margin-left: 12px;
  margin-right: 12px;

  button, div {
    flex-grow: 1;
    flex-basis: 35px;
  }

  button.selected {
    background-color: $color-blue;
  }
}
