@import 'styles/colors';
@import 'styles/breakpoints';

.errorMessage {
  color: $color-accent-red;
}

.ppLogin {
  margin: 0;
  padding: 0 0 15px;
  flex-grow: 1;
  background: $color-white;

  .container {
    margin: auto;
    flex-direction: row;

    @media screen and (max-width: $breakpoint-small) {
      margin-top: 20px;
      padding: 0 10px;
    }

    .loginContainer {
      margin: 100px auto 0;
      @media screen and (max-width: $breakpoint-bs-lg) {
        flex: 0 0 100%;
        margin: 15px auto;
      }

      .login {
        padding: 40px;
        margin: 0 auto;
        max-width: 460px;
        min-height: 440px;
        border-radius: 5px;
        text-align: center;
        flex-direction: column;
        background: $color-gray;
        box-shadow: 0px 0px 15px transparentize($color-black, 0.7);

        /* margin override to fix centering of social login buttons */
        .socialLogin {
          margin-right: 0;
          margin-left: -30px;

          /* margin override is only needed on medium and bigger screens */
          @media screen and (max-width: $breakpoint-medium) {
            margin-right: -15px;
            margin-left: -15px;
          }
        }

        .loginFormContainer {
          display: flex;
          align-items: center;
          justify-content: center;

          form {
            width: 70%;

            @media screen and (max-width: $breakpoint-small) {
              width: 100%;
            }
          }
        }

        @media screen and (max-width: $breakpoint-small) {
          .loginFormContainer {
            order: 3;
          }

          :global(#hr){
            order: 2;
          }

          .socialBtns {
            order: 1;
          }
        }

        h2 {
          padding: 0;
          font-weight: 300;
          margin-bottom:  30px;
          color: $color-dark-blue-black;

          @media screen and (max-width: $breakpoint-small) {
            font-size: 24px;
          }
        }
      }
    }
  }
}

.login {
  display: flex;
}
