@import 'static/styles/colors';

.login {
  margin: 0 auto;
  padding-top: 5%;
  width: 25%;
  min-width: 350px;

  .logo {
    margin-bottom: 36px;

    img {
      max-width: 100%;
    }
  }

  button {
    margin-top: 4px;
    margin-bottom: 12px;
  }
}

.errorMessage {
  color: $color-accent-red;
}

.footer {
  background: $color-lightest-blue;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: right;
}
