@import 'styles/colors';
@import 'styles/breakpoints';
@import 'styles/variables';

.filterContainer {
  position: relative;

  select {
    appearance: none;
    width: 100%;
    border: 1px solid $color-dark-gray;
    background-color: $color-white;
    padding: .375rem 1.50rem .375rem .75rem;
    cursor: pointer;

    &:focus {
      outline: none;
      background-color: $color-dark-blue;
      color: $color-white;
    }
    &:hover {
      @include list-hover-styles($box-shadow, $color-dark-blue)
    }
  }
  &:after {
    position: absolute;
    top: 45%;
    right: 12px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    /*border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: .25em solid $color-blue;*/
    border-top: 4px dashed $color-blue;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    pointer-events: none;
  }
}
