.restore-password-page {
  display: flex;
  height: 100%;
  background-image: url('../../../images/auth-background.jpg');
  background-size: cover;
  background-position: center;

  &__form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  &__form {
    margin-top: -160px;
    width: 100%;
    max-width: 400px;
  }

  &__logo {
    display: block;
    max-width: 250px;
    margin: 0 auto;
  }

  &__title {
    margin-top: 100px;
    color: #333;
    text-align: center;
  }

  &__error-message {
    color: #bf2002;
  }

  &__success-container {
    margin: 50px auto;
    text-align: center;
  }

  &__success-title {
    color: #1d8b08;
    font-size: 20px;
    font-weight: normal;
  }

  &__link-container {
    margin-top: 10px;
    text-align: center;
  }

  &__signin-page-link {
    color: #5c7080;

    &:hover {
      color: #5c7080;
    }
  }

  @media screen and (max-width: 1024px) {
    &__form-container {
      width: 100%;
      max-width: 100%;
    }
  }
}